body{
    background-color: rgb(41, 41, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    height: 97vh;
}
img{
    width: 200px;
    margin: 20px;
    box-sizing: border-box;
}
button{
    width: 150px;
    height: 40px;
    background-color: rgb(242, 255, 53);
    border-radius: 15px;
}